.footer{
    width: 100%;
    background-color: #000;
    padding: 30px 0 15px;
    color: #fff;
    
    
}

.footer__list{
display: flex;
justify-content: center;
align-items: center;
}
.social-icon{
    margin-right: 20px;
    color: #ffffff85 ;
}
.social-icon:last-child{
    margin-right: 0;
}
.footer__text{
    text-align: center;
    margin-top: 20px;
    color: #ffffff85 ;
}



.social-icon:hover {
    color: aqua;
    opacity: .5;
}
   